
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lobster&family=Poppins&family=Roboto+Mono:wght@100&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin:0px;
    padding: 0px;
    background-color: #ffffff;
}

.brandlogo img{
    width: 150px;
}
.brandlogo:hover{
    cursor: pointer;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
    top: 0%;
    background-color: white;
	position: fixed;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	width:100%;
	z-index: 1;
}
nav ul{
    list-style: none;
    text-decoration: none;
	display: flex;
}
nav ul li a{
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
	height: 40px;
	line-height: 40px;
    margin-left: 10px;
	padding: 0px 15px;
	display: flex;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: rgb(0, 0, 0);
    letter-spacing: 2px;
}
nav ul li a:hover{
	background-color: #fff131;
    cursor: pointer;
    border-radius: 3px;
    color:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
}
nav .menu-btn,.menu-icon{
		display:none;
}

#first_header{
    width:100%;
    height:625px;
    padding-bottom: 80px;
    position: relative;
    display: flex;
    cursor: pointer;
    background-image: url('../images/modcar1.png');
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

.header_h1{
	width: auto;
    background: linear-gradient(140deg, #22c0ff 50%, #fffb0f 50%);
    box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 20px;
    margin-left: 60%;
    margin-top: 12%;
    padding: 0px 20px;
    border-radius: 10px;

}

.header_h1 span{
    font-family: 'Lobster', cursive;
    font-size: 100px;
    color: rgb(236, 0, 236);
    text-shadow: 2px 2px black;
}
.header_h1 h1{
    font-family: 'Fjalla One', sans-serif;
	font-size: 70px;
    letter-spacing: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px black;
	color:white;
}

#second_header{
    height:auto;
    background-color: #fdf471;
    width: 100%;
    display: flex;
}
.left_header{
    flex: 40%;
    display: flex;
    font-family: 'Fjalla One';
    letter-spacing: 2px;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    align-items: center;
}
.right_header{
    display: flex;
    padding: 50px 0px;
    text-align: center;
    flex: 60%;
}
.right_header img{
    width: 700px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}
#products{
    width:100%;
    height:120vh;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px ;
    background-color: #ffffff;
}
#products h1{
    font-family:'Fjalla One';
    letter-spacing: 10px;
    color: black;
    font-size: 3rem;
}
#products p{
    font-family:'Poppins';
    letter-spacing: 1px;
    color: black;
    font-size: 1rem;
    margin-top:-15px ;
    margin-bottom:35px ;
}
.product_list{
    display: flex;
    justify-content: center;
    align-content: center;
}
.product_box{
    background-color: #ffffff;
    width:  300px;
    height: 435px;
    padding: 10px;
    margin: 0px 55px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    position: relative;
}
.product_box:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 2px 10px 12px 10px;
}
.product_img{
    width: 100%;
    height: 60%;
}
.product_img img{
    padding: 10px;
    margin-top: 20px;
    width:100%;
    height: 100%;

}

.product_text{
    width: 100%;
    height: 40%;
    background-color:#ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.product_text h2{
    color: black;
    letter-spacing: 1px;
}
.product_button{
    width:120px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'Fjalla One', sans-serif;
    background-color: #eede00;
    border: 2px solid black;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
	color:#ffffff;
}
.product_button:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
    font-weight: bold;
}
#events{
    margin-top: 0px ;
	width:100%;
	height: 90vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 5%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;

}

.events_text{
    width: 45%;
    font-family:'Fjalla One';
    color: #fff;
    text-align: left;
    
}
.events_text h2{
	font-size: 3.5rem;
    letter-spacing: 10px;
    font-family:'Fjalla One';
	color:rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
}
.events_text p{
    letter-spacing: 1px;
    font-family:'Fjalla One';
    color: #252525;
    font-size: 2rem;
	
}
.events_text button{
    margin-top: 20px;
	width:140px;
	height: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: 'Fjalla One';
    background-color: #eede00;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
	color:#ffffff;
}
.events_text button:hover{
    background-color: white;
    transition: all ease 0.5s;
    color: black;
    border: 2px solid black;
}

.events-image img{
    width: 600px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

#services{
    margin-top: 120px;
    margin-bottom: 50px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#services h1{
        font-size: 3rem;
        color:black;
        font-weight: 500;
        margin: 0px;
        font-family: 'Fjalla One';
        margin-bottom: 20px;
}
#services form{
    width:600px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
}
#services form input,
#services form textarea{
    height:40px;
    width:100%;
    margin:5px 0px;
    padding: 10px;
    box-shadow: 2px #000000;
    outline: 2px solid #eede00;
    border-radius: 5px;
}
#services form textarea{
    height: 100px;
    box-shadow: 4px #000000;

}
.services_button{
    height: 40px;
    width: 100%;
    font-size: large;
    background-color: #eede00;
	color:black;

    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}
.services_button:hover{
    background-color: white;
    transition: all ease 0.5s;
    color: black;
    border: 2px solid black;
}

.footer{
    background: linear-gradient(to bottom, #eede00 85%, #000000 15%);
    height:100px;
    box-sizing: border-box;
    font-family: 'Poppins';
    display: flex;
}
.leftfooterside{
    color: white;
    padding: 10px 0px 10px 10px;
    margin-left: 3%;
    float: left;
}
.rightfooterside{
    color: white;
    padding: 10px 0px 10px 10px;
    margin-left: 60%;
    float: right;
    overflow-wrap: break-word;
}
.errormsg{
    margin-top: 100px;
}
@media screen and (max-width:510px) {

    .footer{ 
        margin-top: 100%;
        bottom: 0;
        flex-direction: column;
    }
    .leftfooterside{
    padding: 20px 20px 0px;
    }
    .rightfooterside{
        display: none;

    }
}
@media(max-width:620px){
    #services form{
        width:90%;
    }
} 

@media(max-width:1190px){
	#first_header{
        display: none;
	}
    #second_header{
        margin-top: 70px;
        flex-direction: column;
        
    }
    #second_header img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
	.header_h1{
		left: 50%;
		top: 50%;
        text-align: center;
    }
    .header_h1 h2{
        font-size: 1.5rem;
    }
    .header_h1 h1{
        font-size: 3rem;
    }
    .header_h1{
        
        font-size: 1rem;
    }
	.events-image img{
		height:400px;
    }
    #products{
		height:auto;
    }
    .product_list{
		flex-wrap: wrap;
	}
    .product_box{
		flex-grow: 1;
	}
    .product_img img{
		object-fit:contain;
    }
    
    
}

@media(max-width:970px){
	.events-image{
        display:none;
    }
	#events{
		justify-content: center;
        padding-top: 0px;
        text-align: center;
        
        margin-top: 0px;
	}
	.events_text{
        width: 90%;
        text-align: center;
        font-size: 4vh;
	}
	.events_text h2{
		font-size:3rem;
        word-wrap: break-word;
        
    }
    .events_text p{
        width: 100%;
    }
    .events_text button {
        margin-left: 10%;
    }
    #products{
        margin-bottom: 100px;
    }
}
@media(max-width:600px){
	.header_h1{
		width:60%;
    }
}

@media(max-width:1100px){
        .menu-icon{
            display:block;
        }
        nav{
            justify-content: space-between;
            height: 65px;
            padding: 0px 30px;
        }
        .brandlogo img{
            width:120px;
        }
        .header-btns{
            margin: 0;
        }
        .menu{
            display:none;
            position: absolute;
            top:65px;
            left:0px;
            background-color:#ffffff;
            border-bottom: 4px solid black;
            width: 100%;
            padding:0px;
            margin:0px;
        }
        .menu li{
            width:100%;
        }
        nav .menu li a{
            width:100%;
            height:40px;
            justify-content: center;
            align-items: center;
            margin:0px;
            padding: 25px;
            border: 1px solid rgba(38,38,38,0.03);
        }
        nav .menu-icon{
            cursor:pointer;
            float:right;
            padding:28px 20px;
            position:relative;
            border-radius: 5px;
            user-select: none;
            background-color: #eede00;

        }
        nav .menu-icon .nav-icon{
            display:block;
            height:2px;
            background-color: black;
            position:relative;
            width:24px;
        }
        nav .menu-icon .nav-icon:before,
        nav .menu-icon .nav-icon:after{
            background:rgb(255, 255, 255);
            content:'';
            display:block;
            height:100%;
            position:absolute;
            transition:all ease-out 0.2s;
            width:100%;
        }
        nav .menu-icon .nav-icon:before{
            top:6px;
            background-color: black;
        }
        nav .menu-icon .nav-icon:after{
            top:-6px;
            background-color: black;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon{
            background:transparent;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top:0;
            background-color: black;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;
            background-color: black;
        }
        nav .menu-btn{
            display:none;
        }
        nav .menu-btn:checked ~ .menu{
            display:block;
        }
        #services{
            text-align: center;
            word-wrap: break-word;
        }
        .footer{ 
            margin-top: 100%;
            bottom: 0;
        }
    }
        @media(max-width:400px){
            .product_box{
                width: 100%;
                height:400px;
            }
        }